# =====================
# Node.js & NPM
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# =====================
# Environment files
# =====================
.env
.env.*.local
!.env.example

# =====================
# Prisma ORM
# =====================          
/.prisma/               # cliente generado
prisma/*.db
prisma/*.db-journal
prisma/migrations

# =====================
# Logs & errors
# =====================
logs/
*.log
*.log.*

# =====================
# Testing reports
# =====================
newman/*.html
newman/*.json

tests/reports/

# =====================
# System & editor
# =====================
.DS_Store
.vscode/
*.swp
*.swo
Thumbs.db
.idea/
*.iml
*.bak
*.tmp
